* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0f172a;
  color: white;
}

header {
  height: 100vh;
  background: linear-gradient(135deg, #2563eb, #0f172a);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

header h1 {
  font-size: 3rem;
}

.btn {
  margin-top: 20px;
  padding: 12px 24px;
  background: #38bdf8;
  color: black;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
}

section {
  padding: 60px 10%;
}

h2 {
  margin-bottom: 20px;
  color: #38bdf8;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 15px;
}

.card {
  background: #1e293b;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
}

.projeto {
background: #1e293b;
padding: 20px;
border-radius: 8px;
margin-bottom: 20px;
}

.projeto a {
color: #38bdf8;
text-decoration: none;
}

footer {
text-align: center;
padding: 20px;
background: #020617;
}
